@import "tailwindcss";

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
  --primary:#4CAF50;
  --secondary:#212121;
  --accent:#FFC107;
  --bg:#F9F9F9;
}

html,body { font-family: "Gotham", ui-sans-serif, system-ui, sans-serif; background: var(--bg); }

.font-poppins {
  font-family: "Poppins", "Gotham", ui-sans-serif, system-ui, sans-serif;
}
@layer components {
  .page-container {
    @apply mx-auto max-w-7xl px-4;
  }
}



